@use "../../_variables" as *;

// ── Section Chiffres Groupe ───────────────────
#chiffres_groupe {
    background: linear-gradient($orange-brule, $nuit);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;

    .grille-chiffres {}

    .cta-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
    }

    button {
        background-color: transparent;
        border: 2px solid $orange-galette;
        color: $orange-galette;

        &:hover {
            background-color: $orange-brule;
            color: $blanc-casse;
        }
    }

    @media (max-width: 1024px) {
        .grid-5 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .grid-5 {
            grid-template-columns: 1fr;
        }
    }
}
