@use "../../_variables" as *;

.vague-contact {
    background: $nuit;
}

.vague-transition {
    transform: rotate(180deg);
    background: $nuit;
}

#actions_rse .actions-rse-bloc:nth-child(1) {
    display: none !important;
}

#a_propos {
    background: $anthracite;

    .vague{
        display: none;
    }

    p{
    width: 60%;
    }

    > img:not(.vague) {
        width: auto !important;
        right: 10% !important;
    }
}